body{
  font-family: 'Consolas', monospace;
  text-align: center;
  color:rgb(233, 234, 219);
  cursor: url('resources2/cursor.png'), auto;
}
/* Custom cursor when pointer is active */
a:hover, button:hover, .clickable:hover {
    cursor: url('resources2/pointer.png'), pointer;
}

.header{
  margin-bottom:5%;
  padding-top: 5%;
  background-color: #9BBE60;
  box-sizing: border-box;
}
.header pre {
  margin: 0; 
  padding: 0;
}

/* Nav Bar */
.nav-link{
  color:rgb(233, 234, 219);
  font-size: 20px;
  font-weight: bold;
}
.nav-item {
 font-family: 'Consolas', monospace;
  margin-right: 8px;
  background-color: black;
}
.nav-link:hover {
  color: #0000FF;
  border-radius: 10px;
}
.nav-pills .nav-item .nav-link.active{
  background-color: #0000FF;
  color: white;
  border-color: black;
  border-style: solid;
  border-radius: 0;
}

/* Tab 1 - HOME */
#background-video {
    object-fit: cover; 
    height: 100vh; 
    width:  100vw; 
    object-fit: fill;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    background-size: 100% 100%;
    z-index: 0;
  }
#background-videotemp {
    object-fit: cover; 
    height: 100vh; 
    width:  100vw; 
    object-fit: fill;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    background-size: 100% 100%;
    z-index: 0;
  }
#name pre {
  color:rgb(233, 234, 219);
}
#name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

/* Tab 2 - ABOUT ME */

/* Tab 3 - ART */

/* Tab 4 - FOR FUN */
#for-fun{
  /*background-color: #925773;
  border-color: #3E4B8C;*/
  box-sizing: border-box;
}
.c{
  background-color: #D99D47;
}
#display-data{
  color:black;
  margin-bottom: 10%;
}
#fun-games{
  background-color: #925773;
}

/* Tab 5 - CONTACT */




/* karaoke font taken from internet*/
h1 {
  font-weight: bold;
  font-size: 4em;
}

.word {
  position: relative;
  white-space: nowrap;
  color: lightblue;
  text-shadow: 0 0 3px rgba(0,0,0,1); 
}

.word::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  color: red;
  overflow: hidden;
  width: 40%;
  animation: run-text 5s infinite linear;
  text-shadow: 0 0 3px rgba(255,255,255,1); 
}

@keyframes run-text {
  from { width: 0 }
  to { width: 100% }
}

/* typewriter effect */
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

  /*
    background-color: #222;
  